<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_apngframe01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-7}</string>
                <key>spriteSize</key>
                <string>{293,424}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{1,1},{293,424}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_apngframe02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-6}</string>
                <key>spriteSize</key>
                <string>{287,426}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{1,427},{287,426}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_apngframe03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-5}</string>
                <key>spriteSize</key>
                <string>{285,428}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{296,1},{285,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-5}</string>
                <key>spriteSize</key>
                <string>{279,428}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{1,855},{279,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_apngframe05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-4}</string>
                <key>spriteSize</key>
                <string>{277,430}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{726,1},{277,430}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-3}</string>
                <key>spriteSize</key>
                <string>{255,432}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{1586,1},{255,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,-2}</string>
                <key>spriteSize</key>
                <string>{225,434}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{296,288},{225,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{193,438}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{290,768},{193,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{169,438}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{282,1190},{169,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{161,438}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{1594,487},{161,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{159,436}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{881,1367},{159,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{159,434}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{1600,853},{159,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{159,434}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{1319,1372},{159,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-3}</string>
                <key>spriteSize</key>
                <string>{177,432}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{722,1188},{177,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-4}</string>
                <key>spriteSize</key>
                <string>{201,430}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{730,760},{201,430}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-5}</string>
                <key>spriteSize</key>
                <string>{223,428}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{712,963},{223,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-6}</string>
                <key>spriteSize</key>
                <string>{243,426}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{718,515},{243,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,-5}</string>
                <key>spriteSize</key>
                <string>{237,428}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{1164,280},{237,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-11,-4}</string>
                <key>spriteSize</key>
                <string>{233,430}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{732,280},{233,430}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-15,-2}</string>
                <key>spriteSize</key>
                <string>{229,434}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{1146,519},{229,434}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,-1}</string>
                <key>spriteSize</key>
                <string>{227,436}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{1594,258},{227,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,-1}</string>
                <key>spriteSize</key>
                <string>{211,436}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{1162,750},{211,436}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{191,438}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{1156,1174},{191,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,0}</string>
                <key>spriteSize</key>
                <string>{173,438}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{1,1361},{173,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,438}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{441,1367},{161,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,438}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{1596,1201},{169,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{185,438}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{1596,1014},{185,438}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{201,432}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{1600,650},{201,432}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{209,428}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{1142,963},{209,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-5}</string>
                <key>spriteSize</key>
                <string>{225,428}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{282,963},{225,428}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{251,426}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{290,515},{251,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>frame_apngframe32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-6}</string>
                <key>spriteSize</key>
                <string>{277,426}</string>
                <key>spriteSourceSize</key>
                <string>{299,438}</string>
                <key>textureRect</key>
                <string>{{1158,1},{277,426}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>zoulu2.png</string>
            <key>size</key>
            <string>{2035,1535}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3a9273907bda5dd0367e99b84c7b5bd:4b5b7dc775476111741b228541973297:801198b92e7cff7fc9160594e93222ba$</string>
            <key>textureFileName</key>
            <string>zoulu2.png</string>
        </dict>
    </dict>
</plist>
